.scroll-button {
    position: fixed;
    bottom: 20px;
    right: -50px; /* Start off screen */
    transition: right 0.3s ease-in-out;
    z-index: 999;
    background-color: #ff00b3;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .scroll-button.visible {
    right: 20px; /* Move into view when visible */
  }
  
  .scroll-button:hover {
    background-color: #010101;
  }
  